//
// Global variable system
//
$white: #fff !default;
$gray-soft: #dadada !default;
$gray-100: #bbb !default;
$black: #000000 !default;
$primary: #304274 !default;

$font-main: 'Roboto', sans-serif !important;
